<table style="width: 100%; padding: 45px 35px; box-sizing: border-box; background-color: #e2baba;">
    <tr>
        <td style="font-size: 18px; text-align: center;">
            Dear {{name}}, You have left our platform. See you.
        </td>
    </tr>
</table>
